%p#notice= notice
%h1 Codes
%table
  %thead
    %tr
      %th Content
      %th{:colspan => "3"}
  %tbody
    - @codes.each do |code|
      %tr
        %td= markdown(code.content).html_safe
        %td= link_to 'Show', code
        %td= link_to 'Edit', edit_code_path(code)
        %td= link_to 'Destroy', code, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Code', new_code_path
